<!DOCTYPE html>
<html>
  <head>
    <title translatable="yes">SERVERS</title>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self';font-src 'self' data:; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../base1/css/all.css" rel="stylesheet" />
    <link href="../shell/index.css" rel="stylesheet" />
    <link href="../../static/branding.css" rel="stylesheet" />
    <link href="../base1/roboto.css" rel="stylesheet" />
    <link href="../base1/vuetify.min.css" rel="stylesheet" />

    <script src="../base1/jquery.js"></script>
    <script src="../base1/cockpit.js"></script>
    <script src="../*/po.js"></script>
    <script src="../manifests.js"></script>
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-content>
          <v-container fluid>
            <v-row>
              <v-col cols="12">
                <v-card>
                  <v-card-title class="text-center justify-center py-6">
                    <h1 class="display-3">{{ title }}</h1>
                    <v-btn @click="test"></v-btn>
                  </v-card-title>
                  <v-tabs v-model="tab" grow>
                    <v-tab v-for="header in headers_tab" :key="header">
                      <div v-if="header == 'Unconfigured'">
                        {{ header }} ( {{ server_count }} )
                      </div>
                      <div v-else>
                        {{ header }}
                      </div>
                    </v-tab>
                  </v-tabs>

                  <v-tabs-items v-model="tab">
                    <v-tab-item>
                      <!-- CONFIGURED TAB -->
                      <v-card flat>
                        <v-card-text>NOT IMPLEMENTED YET</v-card-text>
                      </v-card>
                    </v-tab-item>
                    <v-tab-item>
                      <!-- UNCONFIGURED TAB -->
                      <v-card class="pb-3 ma-8" flat>
                        <v-data-table
                          v-model="selected"
                          :search="search"
                          show-select
                          item-key="name"
                          :headers="headers_servers"
                          :items="unconfigured_servers"
                          sort-by="calories"
                          class="elevation-1 mb-4"
                        >
                          <template v-slot:top>
                            <v-toolbar flat color="white">
                              <!-- TABLE TITLE -->
                              <v-toolbar-title
                                >Unconfigured Servers</v-toolbar-title
                              >
                              <v-divider
                                class="mx-4"
                                inset
                                vertical
                              ></v-divider>
                              <!-- TABLE SEARCH -->
                              <v-text-field
                                v-model="search"
                                append-icon="fas fa-search"
                                label="Search"
                                single-line
                                hide-details
                              ></v-text-field>
                              <v-spacer></v-spacer>
                              <v-dialog v-model="dialog" max-width="500px">
                                <template v-slot:activator="{ on }">
                                  <!-- NEW SERVER -->
                                  <v-btn
                                    color="primary"
                                    dark
                                    class="mb-2"
                                    v-on="on"
                                    >New Server</v-btn
                                  >
                                </template>

                                <!-- ADD / EDIT POPUP -->
                                <v-card>
                                  <v-card-title>
                                    <span class="headline"
                                      >{{ formTitle }}</span
                                    >
                                  </v-card-title>

                                  <v-card-text>
                                    <v-container>
                                      <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                          <v-text-field
                                            v-model="editedItem.name"
                                            label="Dessert name"
                                          ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                          <v-text-field
                                            v-model="editedItem.calories"
                                            label="Calories"
                                          ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                          <v-text-field
                                            v-model="editedItem.fat"
                                            label="Fat (g)"
                                          ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                          <v-text-field
                                            v-model="editedItem.carbs"
                                            label="Carbs (g)"
                                          ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                          <v-text-field
                                            v-model="editedItem.protein"
                                            label="Protein (g)"
                                          ></v-text-field>
                                        </v-col>
                                      </v-row>
                                    </v-container>
                                  </v-card-text>

                                  <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      color="blue darken-1"
                                      text
                                      @click="close"
                                      >Cancel</v-btn
                                    >
                                    <v-btn
                                      color="blue darken-1"
                                      text
                                      @click="save"
                                      >Save</v-btn
                                    >
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>
                            </v-toolbar>
                          </template>
                          <!-- EDIT / DELETE BUTTONS IN TABLE -->
                          <template v-slot:item.actions="{ item }">
                            <v-icon small class="mr-2" @click="editItem(item)">
                              fas fa-edit
                            </v-icon>
                            <v-icon small @click="deleteItem(item)">
                              fas fa-trash
                            </v-icon>
                          </template>
                          <template v-slot:no-data>
                            <v-btn color="primary" @click="initialize"
                              >Reset</v-btn
                            >
                          </template>
                        </v-data-table>
                        <v-btn color="primary" dark class="mb-2" v-on="on"
                          >Write State</v-btn
                        >
                      </v-card>
                    </v-tab-item>
                  </v-tabs-items>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-content>
      </v-app>
    </div>

    <script src="../base1/vue.js"></script>
    <script src="../base1/vuetify.js"></script>
    <script src="../base1/vuex.min.js"></script>

    <script>
      var serverCount = 0;

      new Vue({
        el: "#app",
        data: () => ({
          search: "",
          selected: [],
          info: null,
          tab: null,
          title: "Servers",
          server_count: [],
          headers_tab: ["Configured", "Unconfigured"],

          dialog: false,
          //   headers_servers: [
          //     {
          //       text: "Dessert (100g serving)",
          //       align: "start",
          //       sortable: true,
          //       value: "name",
          //     },
          //     { text: "Calories", value: "calories" },
          //     { text: "Fat (g)", value: "fat" },
          //     { text: "Carbs (g)", value: "carbs" },
          //     { text: "Protein (g)", value: "protein" },
          //     { text: "Actions", value: "actions", sortable: false },
          //   ],
          headers_servers: [
            {
              text: "HostName",
              value: "host_name",
              align: "start",
              sortable: true,
            },
            {
              text: "ServiceTag",
              value: "service_tag",
            },
            {
              text: "InternalIP",
              value: "internal_ip",
            },
            {
              text: "InternalMAC",
              value: "internal_mac",
            },
            {
              text: "Actions",
              value: "actions",
              sortable: false,
            },
          ],
          unconfigured_servers: [],
          editedIndex: -1,
          editedItem: {
            name: "",
            calories: 0,
            fat: 0,
            carbs: 0,
            protein: 0,
          },
          defaultItem: {
            name: "",
            calories: 0,
            fat: 0,
            carbs: 0,
            protein: 0,
          },
          getservers: 0,
          servers_data: [],

          example: "",
          exampleArr: [],
        }),
        computed: {
          formTitle() {
            return this.editedIndex === -1 ? "New Item" : "Edit Item";
          },
        },

        watch: {
          dialog(val) {
            val || close();
          },
        },
        beforeCreate() {
        },
        created() {
          this.initialize();
        },
        beforeMount() {
        },
        mounted() {
           
            window.addEventListener('onload', function(){
                console.log(this.exampleArr);
            });
        },
        beforeDestroy() {
        },
        destroyed() {
        },

        methods: {
          initialize() {
            let self = this;

          cockpit
              .file("config.json", { syntax: JSON, superuser: "require" })
              .read()
              .done(function (content, tag) {
                console.log("YASSS");
                self.exampleArr = content;
              })
              .fail(function (error) {
                console.log("Nope");
              });
          },

          test() {
            console.log(this.exampleArr);
          },

          editItem(item) {
            this.editedIndex = this.unconfigured_servers.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.dialog = true;
          },

          deleteItem(item) {
            const index = this.unconfigured_servers.indexOf(item);
            confirm("Are you sure you want to delete this item?") &&
              this.unconfigured_servers.splice(index, 1);
          },

          close() {
            this.dialog = false;
            setTimeout(() => {
              this.editedItem = Object.assign({}, this.defaultItem);
              this.editedIndex = -1;
            }, 300);
          },

          save() {
            if (this.editedIndex > -1) {
              Object.assign(
                this.unconfigured_servers[this.editedIndex],
                this.editedItem
              );
            } else {
              this.unconfigured_servers.push(this.editedItem);
            }
            this.close();
          },
        },
        vuetify: new Vuetify({
          icons: {
            iconfont: "fa", // default - only for display purposes
          },
        }),
      });
    </script>
  </body>
</html>
