<!DOCTYPE html>
<html>

<head>
  <title translatable="yes">SERVERS</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self';font-src 'self' data:; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="../base1/css/all.css" rel="stylesheet" />
  <link href="../shell/index.css" rel="stylesheet" />
  <link href="../../static/branding.css" rel="stylesheet" />
  <link href="../base1/roboto.css" rel="stylesheet" />
  <link href="../base1/vuetify.min.css" rel="stylesheet" />

  <script src="../base1/jquery.js"></script>
  <script src="../base1/cockpit.js"></script>
  <script src="../*/po.js"></script>
  <script src="manifests.js"></script>
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container fluid>
          <v-row>
            <v-col cols="12">
              <v-card>
                <v-card-title class="text-center justify-center py-6">
                  <h1 class="display-3">{{ title }}</h1>
                </v-card-title>
                <v-tabs v-model="tab" grow>
                  <v-tab v-for="header in headers_tab" :key="header">
                    <div v-if="header == 'Unconfigured'">
                      {{ header }} ( {{ server_count }} )
                    </div>
                    <div v-else>
                      {{ header }}
                    </div>
                  </v-tab>
                </v-tabs>

                <v-tabs-items v-model="tab">
                  <v-tab-item>
                    <!-- CONFIGURED TAB -->
                    <v-card flat>
                      <v-card-text>NOT IMPLEMENTED YET</v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <!-- UNCONFIGURED TAB -->
                    <v-card class="pb-3 ma-8" flat>
                      <v-data-table v-model="selected" :headers="headers_servers" :items="servers_data"
                        :expanded.sync="expanded" :search="search" item-key="HostName" sort-by="HostName" show-select
                        show-expand class="elevation-1">
                        <!-- EXPANDABLE - INTERFACES -->
                        <template v-slot:expanded-item="{ headers, item }">
                          <td :colspan="headers_servers.length" class="pa-6">
                            <v-card>
                              <v-card-title>
                                Interfaces
                              </v-card-title>
                              <v-data-table :headers="interface_headers" :items="item.Interface" hide-default-footer>
                              </v-data-table>
                            </v-card>
                          </td>
                        </template>
                        <template v-slot:top>
                          <v-toolbar flat color="white">
                            <!-- TABLE TITLE -->
                            <v-toolbar-title>Unconfigured Servers</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <!-- TABLE SEARCH -->
                            <v-text-field v-model="search" append-icon="fas fa-search" label="Search" single-line
                              hide-details></v-text-field>
                            <v-spacer></v-spacer>

                            <v-dialog v-model="dialog" max-width="1000px">
                              <template v-slot:activator="{ on }">
                                <!-- NEW SERVER -->
                                <v-btn color="primary" dark class="mb-2" v-on="on">New Server</v-btn>
                              </template>

                              <!-- ADD / EDIT POPUP -->
                              <v-card>
                                <v-card-title>
                                  <span class="headline">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card-text>
                                  <v-container>
                                    <v-row>
                                      <v-col cols="12" sm="12" md="12">
                                        <v-form ref="form" lazy-validation>
                                          <!-- HOSTNAME -->
                                          <v-text-field v-model="editedItem.HostName" label="*HostName" type="text"
                                            required :rules="stringRules"></v-text-field>
                                          <!-- SERVICE_TAG -->
                                          <v-text-field v-model="editedItem.SerialNumber" label="*ServiceTag"
                                            type="text" required :rules="stringRules"></v-text-field>
                                          <!-- HOSTCLASS -->
                                          <v-select v-model="editedItem.HostClass" :items="hostclass_options"
                                            :rules="[v => !!v || 'Item is required']" label="*HostClass"></v-select>

                                          <!-- INTERFACES -->
                                          <v-row>
                                            <v-col cols="12">
                                              <h3>
                                                *Interfaces
                                                <v-icon small class="ml-2 pa-2" @click="addInterface">
                                                  fas fa-plus
                                                </v-icon>
                                              </h3>
                                            </v-col>
                                          </v-row>
                                          <interface v-for="(interface, index) in editedItem.Interface"
                                            :interface="interface" :interfaces="editedItem.Interface"
                                            @remove="removeInterface(index)">
                                          </interface>
                                          <br><br>
                                          <!-- BLADEINDEX -->
                                          <v-text-field v-model="editedItem.BladeIndex" label="BladeIndex"
                                            type="number"></v-text-field>
                                          <!-- FLIPPEDFABRIC -->
                                          <v-select v-model="editedItem.FlippedFabric" :items="flippedfabric_option"
                                            label="FlippedFabric"></v-select>
                                          <!-- PRODUCTNAME -->
                                          <v-text-field v-model="editedItem.ProductName" label="ProductName"
                                            type="text"></v-text-field>
                                          <!-- SLOT -->
                                          <v-text-field v-model="editedItem.Slot" label="Slot" type="text">
                                          </v-text-field>
                                        </v-form>
                                      </v-col>
                                    </v-row>
                                  </v-container>
                                </v-card-text>

                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <!-- CANCEL -->
                                  <v-btn text @click="close">Cancel</v-btn>
                                  <!-- SAVE -->
                                  <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>

                            <!-- DIALOG - DELETE CHECK -->
                            <v-dialog v-model="dialogDelete" max-width="500">
                              <v-card>
                                <v-card-title class="headline text-center">
                                  <span>
                                    Are you sure you want to delete
                                  </span>
                                </v-card-title>

                                <v-card-title class="headline text-center">
                                  <h3>'{{ itemToDelete }}' ?</h3>
                                </v-card-title>

                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <!-- CANCEL -->
                                  <v-btn text @click="dialogDelete = false">
                                    Cancel
                                  </v-btn>
                                  <!-- AGREE -->
                                  <v-btn color="red darken-1" text @click="deleteItemConfirm(item)">
                                    Agree
                                  </v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-toolbar>
                        </template>

                        <!-- EDIT / DELETE BUTTONS IN TABLE -->
                        <template v-slot:item.actions="{ item }">
                          <!-- EDIT - ICON -->
                          <v-icon small class="mr-2" @click="editItem(item)">
                            fas fa-edit
                          </v-icon>
                          <!-- DELETE - ICON -->
                          <v-icon small @click="deleteItem(item)">
                            fas fa-trash
                          </v-icon>
                        </template>

                        <!-- RESET - TABLE -->
                        <template v-slot:no-data>
                          <!-- RESET -->
                          <v-btn color="primary" @click="initialize">Reset</v-btn>
                        </template>
                      </v-data-table>

                      <!-- SUBMIT CONFIGURATION - BUTTON -->
                      <v-btn :disabled="disabledSubmitConfig" color="primary" class="mt-4 mb-2"
                        @click="submitConfiguration">Submit Configuration</v-btn>

                      <!-- NOTIFICATION SNACKBAR -->
                      <v-snackbar v-model="snackbar" :timeout="timeout" top>
                        {{ snackbar_text }}

                        <v-icon small color="primary" class="mr-2" @click="snackbar = false">
                          fas fa-times
                        </v-icon>
                      </v-snackbar>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="../base1/vue.js"></script>
  <script src="../base1/vuetify.js"></script>
  <script src="../base1/vuex.min.js"></script>

  <script>
    // INTERFACE COMPONENT - POPUP
    Vue.component("interface", {
      props: ["interface", "interfaces"],
      computed: {
        networkItems() {
          const networks = this.interfaces.map(
            (_interface) => _interface.Network
          );
          return [
            "Capture",
            ...(networks.filter((value) => value === "Internal").length < 1 ||
              this.interface.Network === "Internal"
              ? ["Internal"]
              : []),
            ...(networks.filter((value) => value === "External").length < 1 ||
              this.interface.Network === "External"
              ? ["External"]
              : []),
          ];
        },
      },
      template: `
      <v-card class='ma-2 pa-2'>
        <v-row
          
        >
          <v-col class='text-center'>
            <v-text-field
              v-model="interface.IP"
              label="IP"
            />
            </v-col>

            <v-col class='text-center'>
            <v-text-field
              v-model="interface.MAC"
              label="MAC"
            />
          </v-col>

          <v-col class='text-center'>
            <v-text-field
              v-model="interface.Name"
              label="Name"
            />
          </v-col>

          <v-col class='text-center'>
            <v-select
              v-model="interface.Network"
              :items="networkItems"
              label="Network"
              />
          </v-col>

          <v-col cols='1' class='text-center'>
            <v-icon color='red lighten-1' class="ml-2 mt-4" small  @click="$emit('remove')">
                fas fa-minus
              </v-icon>
          </v-col>
        </v-row>
        </v-card>
        `,
    });

    new Vue({
      el: "#app",
      data() {
        return {
          selected: [],

          disabledSubmitConfig: true,

          snackbar: false,
          snackbar_text: "",
          timeout: 2000,

          search: "",
          expanded: [],
          info: null,
          tab: null,
          title: "Servers",
          server_count: 0,
          headers_tab: ["Configured", "Unconfigured"],

          dialog: false,
          dialogDelete: false,
          itemToDelete: "",

          headers_servers: [
            {
              text: "HostName",
              value: "HostName",
              align: "start",
              sortable: true,
            },
            {
              text: "ServiceTag",
              value: "SerialNumber",
            },
            {
              text: "InternalIP",
              value: "InternalIP",
            },
            {
              text: "InternalMAC",
              value: "InternalMAC",
            },
            {
              text: "Actions",
              value: "actions",
              sortable: false,
            },
            { text: "", value: "data-table-expand" },
          ],

          interface_headers: [
            {
              text: "IP",
              value: "IP",
              align: "start",
              sortable: true,
            },
            {
              text: "MAC",
              value: "MAC",
            },
            {
              text: "Name",
              value: "Name",
            },
            {
              text: "Network",
              value: "Network",
            },
          ],
          hostclass_options: [
            {
              text: "Master",
              value: 1,
            },
            {
              text: "MasterReplica",
              value: 2,
            },
            {
              text: "Minion",
              value: 3,
            },
          ],
          flippedfabric_option: [
            {
              text: "No",
              value: false,
            },
            {
              text: "Yes",
              value: true,
            },
          ],
          interface_network: [
            {
              text: "Internal",
              value: "internal",
            },
            {
              text: "Capture",
              value: "capture",
            },
            {
              text: "External",
              value: "external",
            },
          ],
          stringRules: [
            (v) => !!v || "This field is required",
            (v) => v.length <= 30 || "Name must be less than 30 characters",
          ],
          editedIndex: -1,

          editedItem: {
            HostName: "",
            SerialNumber: "",
            HostClass: 0,
            BladeIndex: null,
            FlippedFabric: "false",
            ProductName: "",
            Slot: "",
            Interface: [{ IP: null, MAC: null, Name: null, Netwrok: null }],
          },

          defaultItem: {
            HostName: "",
            SerialNumber: "",
            HostClass: 0,
            BladeIndex: null,
            FlippedFabric: "false",
            ProductName: "",
            Slot: "",
            Interface: [{ IP: null, MAC: null, Name: null, Network: null }],
          },

          exampleArr: [],

          servers_data: [],
        };
      },
      computed: {
        formTitle() {
          return this.editedIndex === -1 ? "New Server" : "Edit Server";
        },
        // unconfigured_servers: function () {
        //   //   console.log(this.exampleArr);

        //   let unconfig_arr = [];

        //   this.servers_data =[];

        //   for (let i = 0; i < this.exampleArr.length; i++) {
        //     if (this.exampleArr[i].BladeIndex == null) {
        //       unconfig_arr[this.server_count] = this.exampleArr[i];
        //       this.server_count++;
        //     }
        //   }

        //   // console.log(unconfig_arr);

        //   return unconfig_arr;
        // },
      },

      watch: {
        dialog(val) {
          if (val == false) {
            this.editedItem = Object.assign({}, this.defaultItem);
            this.editedIndex = -1;
          }
          val || close();
        },
        dialogDelete(val) {
          val || close();
        },
        selected: function () {
          if (this.selected.length != 0) {
            this.disabledSubmitConfig = false;
          } else {
            this.disabledSubmitConfig = true;
          }
        }
      },
      created() {
        this.initialize();
      },

      mounted() {
        // this.initialize();
      },

      methods: {
        addInterface() {
          this.editedItem.Interface.push({
            ip: null,
            mac: null,
            name: null,
            network: null,
          });
        },
        removeInterface(index) {
          this.editedItem.Interface.splice(index, 1);
        },
        // async initialize() {
        //   let self = this;

        //   cockpit
        //     .file("config.json", { syntax: JSON, superuser: "require" })
        //     .read()
        //     .done((content, tag) => {
        //       console.log("YASSS");
        //       this.exampleArr = content.Server;
        //     })
        //     .fail(function (error) {
        //       console.log("Nope");
        //     });
        // },

        initialize() {
          let dataJson = [
            {
              BladeIndex: null,
              FlippedFabric: false,
              HostClass: 1,
              Hostname: "nameHere",
              Interface: [
                {
                  IP: ["565.5656.56.56"],
                  MAC: "56566565656",
                  Name: "eth0",
                  Network: "internal",
                },
                {
                  IP: ["121f.4545f.44554"],
                  MAC: "565:5656:56",
                  Name: "eth1",
                  Network: "external",
                },
              ],
              ProductName: "",
              SerialNumber: "",
              Slot: "",
            },
          ];

          // console.log(dataJson);
          let count = 0;
          let objectToAdd = {};
          let interfaceObject = {};
          let interfaceArray = [];

          for (let i = 0; i < dataJson.length; i++) {
            if (dataJson[i].BladeIndex == null) {
              objectToAdd["position"] = i;
              objectToAdd["BladeIndex"] = dataJson[i].BladeIndex;
              objectToAdd["FlippedFabric"] = dataJson[i].FlippedFabric;
              objectToAdd["HostClass"] = dataJson[i].HostClass;
              objectToAdd["HostName"] = dataJson[i].Hostname;

              for (let j = 0; j < dataJson[i].Interface.length; j++) {
                interfaceObject["IP"] = dataJson[i].Interface[j].IP;
                interfaceObject["MAC"] = dataJson[i].Interface[j].MAC;
                interfaceObject["Name"] = dataJson[i].Interface[j].Name;
                interfaceObject["Network"] = dataJson[i].Interface[j].Network;

                interfaceArray.push(interfaceObject);

                if (dataJson[i].Interface[j].Network == "internal") {
                  objectToAdd["InternalIP"] = dataJson[i].Interface[j].IP;
                  objectToAdd["InternalMAC"] = dataJson[i].Interface[j].MAC;
                }

                interfaceObject = {};
              }
              objectToAdd["Interface"] = interfaceArray;
              objectToAdd["ProductName"] = dataJson[i].ProductName;
              objectToAdd["SerialNumber"] = dataJson[i].SerialNumber;
              objectToAdd["Slot"] = dataJson[i].Slot;

              this.servers_data.push(objectToAdd);
              count++;
              objectToAdd = {};
              interfaceArray = [];
            }
          }

          this.server_count = this.servers_data.length;

        },

        editItem(item) {
          this.editedIndex = this.servers_data.indexOf(item);
          this.editedItem = Object.assign({}, item);
          this.dialog = true;
        },

        deleteItem(item) {
          this.dialogDelete = true;
          this.itemToDelete = item.HostName;
        },
        deleteItemConfirm(item) {
          const index = this.servers_data.indexOf(item);
          this.servers_data.splice(index, 1);
          this.dialogDelete = false;
          this.server_count = this.servers_data.length;

          this.snackbar = true;
          this.snackbar_text = "Successfully deleted " + this.itemToDelete;
        },

        close() {
          this.dialog = false;
          setTimeout(() => {
            this.editedItem = Object.assign({}, this.defaultItem);
            this.editedIndex = -1;
          }, 300);
        },

        save() {
          if (this.editedIndex > -1) {
            if (this.$refs.form.validate()) {
              Object.assign(
                this.servers_data[this.editedIndex],
                this.editedItem
              );
              this.close();
            }
          } else {
            if (this.$refs.form.validate()) {
              this.servers_data.push(this.editedItem);
              this.close();
            }
          }
        },

        submitConfiguration() {
          console.log("true");
        },
      },
      vuetify: new Vuetify({
        icons: {
          iconfont: "fa", // default - only for display purposes
        },
      }),
    });
  </script>
</body>

</html>