<!DOCTYPE html>
<html>

<head>
  <title translatable="yes">SERVERS</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self';font-src 'self' data:; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="../base1/css/all.css" rel="stylesheet" />
  <link href="../shell/index.css" rel="stylesheet" />
  <link href="../../static/branding.css" rel="stylesheet" />
  <link href="../base1/roboto.css" rel="stylesheet" />
  <link href="../base1/vuetify.min.css" rel="stylesheet" />

  <script src="../base1/vue.js"></script>
  <script src="../base1/jquery.js"></script>
  <script src="../base1/cockpit.js"></script>
  <script src="../*/po.js"></script>
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container fluid>
          <v-row>
            <v-col cols="12">
              <v-card>
                <v-card-title class="text-center justify-center py-6">
                  <h1 class="display-3">{{ title }}</h1>
                </v-card-title>
                <v-tabs v-model="tab" grow>
                  <v-tab v-for="header in headers_tab" :key="header">
                    <div v-if="header == 'Unconfigured'">
                      {{ header }} ( {{ server_count }} )
                    </div>
                    <div v-else>
                      {{ header }}
                    </div>
                  </v-tab>
                </v-tabs>

                <v-tabs-items v-model="tab">
                  <v-tab-item>
                    <!-- CONFIGURED TAB -->
                    <v-card flat>
                      <v-card-text>NOT IMPLEMENTED YET</v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <!-- UNCONFIGURED TAB -->
                    <v-card class="pb-3 ma-8" flat>
                      <!-- ALERT MESSAGE -->
                      <v-alert v-model="alert" border="left" colored-border type="warning" elevation="2" dismissible>
                        {{ alert_message }}
                      </v-alert>
                      <v-data-table v-model="selected" :headers="headers_servers" :items="servers_data"
                        :expanded.sync="expanded" :search="search" item-key="Hostname" sort-by="Hostname" show-select
                        show-expand class="elevation-1">
                        <!-- EXPANDABLE - INTERFACES -->
                        <template v-slot:expanded-item="{ headers, item }">
                          <td :colspan="headers_servers.length" class="pa-6">
                            <v-card>
                              <v-card-title>
                                Interfaces
                              </v-card-title>
                              <v-data-table :headers="interface_headers" :items="item.Interface" hide-default-footer>
                              </v-data-table>
                            </v-card>
                          </td>
                        </template>
                        <template v-slot:top>
                          <v-toolbar flat color="white">
                            <!-- TABLE TITLE -->
                            <v-toolbar-title>Unconfigured Servers</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <!-- TABLE SEARCH -->
                            <v-text-field v-model="search" append-icon="fas fa-search" label="Search" single-line
                              hide-details></v-text-field>
                            <v-spacer></v-spacer>

                            <!-- ADD / EDIT POPUP -->
                            <v-dialog v-model="dialog" max-width="1000px" persistent>
                              <template v-slot:activator="{ on }">
                                <!-- NEW SERVER -->
                                <v-btn color="primary" dark class="mb-2" v-on="on">New Server</v-btn>
                              </template>

                              <v-card>
                                <v-card-title>
                                  <span class="headline">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card-text>
                                  <v-container>
                                    <v-row>
                                      <v-col cols="12" sm="12" md="12">
                                        <v-form ref="form" lazy-validation>
                                          <!-- ALERT MESSAGE POPUP -->
                                          <v-alert v-model="alert_popup" border="left" colored-border type="warning"
                                            elevation="2" dismissible>
                                            {{ alert_message_popup }}
                                          </v-alert>
                                          <!-- HOSTNAME -->
                                          <v-text-field v-model="editedItem.Hostname" label="*Hostname" type="text"
                                            required :rules="requiredRules"></v-text-field>
                                          <!-- ALIASES -->
                                          <h3 class="pt-2 pb-2">
                                            Aliases
                                          </h3>
                                          <v-combobox v-model="editedItem.Aliases" :hide-no-data="!searchAliases"
                                            :search-input.sync="searchAliases" :items="aliasItems" hide-selected
                                            label="Type in an alias name and press enter." multiple small-chips solo>
                                            <template v-slot:selection="{ attrs, item, parent, selected }">
                                              <v-chip :input-value="selected" label small>
                                                <span class="pr-2">
                                                  {{ item }}
                                                </span>
                                                <v-icon small @click="parent.selectItem(item)">fas fa-times</v-icon>
                                              </v-chip>
                                            </template>
                                          </v-combobox>

                                          <!-- SERVICE_TAG -->
                                          <v-text-field v-model="editedItem.SerialNumber" label="*ServiceTag"
                                            type="text" required :rules="requiredRules"></v-text-field>
                                          <!-- HOSTCLASS -->
                                          <v-select v-model="editedItem.HostClass" :items="hostclass_options"
                                            :rules="requiredRules" label="*HostClass"></v-select>

                                          <!-- INSTALLMETHOD -->
                                          <v-select v-model="editedItem.InstallMethod" :items="installmethod_options"
                                            label="InstallMethod"></v-select>

                                          <!-- INTERFACES -->
                                          <v-row>
                                            <v-col cols="12">
                                              <h3>
                                                *Interfaces
                                                <v-icon small class="ml-2 pa-2" @click="addInterface">
                                                  fas fa-plus
                                                </v-icon>
                                              </h3>
                                              <v-alert v-model="error_interface" dense outlined type="error">
                                                {{ errorMessageInterface }}
                                              </v-alert>
                                            </v-col>
                                          </v-row>
                                          <interface v-for="(interface, index) in editedItem.Interface"
                                            :interface="interface" :interfaces="editedItem.Interface"
                                            @remove="removeInterface(index)">
                                          </interface>
                                          <br /><br />

                                          <!-- STORAGE DEVICES -->
                                          <v-row>
                                            <v-col cols="12">
                                              <h3>
                                                Storage Devices
                                                <v-icon small class="ml-2 pa-2" @click="addStorageDevice">
                                                  fas fa-plus
                                                </v-icon>
                                              </h3>
                                              <v-alert v-model="error_storage_device" dense outlined type="error">
                                                {{ errorMessageStorageDevice }}
                                              </v-alert>
                                            </v-col>
                                          </v-row>
                                          <storage-device v-for="(device, index) in editedItem.Storage" :device="device"
                                            :devices="editedItem.Storage" @remove="removeStorageDevice(index)">
                                          </storage-device>

                                          <br /><br />

                                          <!-- BLADEINDEX -->
                                          <v-text-field v-model="editedItem.BladeIndex" label="BladeIndex"
                                            type="number"></v-text-field>
                                          <!-- FLIPPEDFABRIC -->
                                          <v-select v-model="editedItem.FlippedFabric" :items="flippedfabric_option"
                                            label="FlippedFabric"></v-select>
                                          <!-- PRODUCTNAME -->
                                          <v-text-field v-model="editedItem.ProductName" label="ProductName"
                                            type="text"></v-text-field>
                                          <!-- SLOT -->
                                          <v-text-field v-model="editedItem.Slot" label="Slot" type="text">
                                          </v-text-field>
                                        </v-form>
                                      </v-col>
                                    </v-row>
                                  </v-container>
                                </v-card-text>

                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <!-- CANCEL -->
                                  <v-btn text @click="close">Cancel</v-btn>
                                  <!-- SAVE -->
                                  <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>

                            <!-- DIALOG - DELETE CHECK -->
                            <v-dialog v-model="dialogDelete" max-width="500">
                              <v-card>
                                <v-card-title class="headline text-center">
                                  <span>
                                    Are you sure you want to delete
                                  </span>
                                </v-card-title>

                                <v-card-title class="headline text-center">
                                  <h3>'{{ itemToDelete }}' ?</h3>
                                </v-card-title>

                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <!-- CANCEL -->
                                  <v-btn text @click="dialogDelete = false">
                                    Cancel
                                  </v-btn>
                                  <!-- AGREE -->
                                  <v-btn color="red darken-1" text @click="deleteItemConfirm">
                                    Agree
                                  </v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-toolbar>
                        </template>

                        <!-- EDIT / DELETE BUTTONS IN TABLE -->
                        <template v-slot:item.actions="{ item }">
                          <!-- EDIT - ICON -->
                          <v-icon small class="mr-2" @click="editItem(item)">
                            fas fa-edit
                          </v-icon>
                          <!-- DELETE - ICON -->
                          <v-icon small @click="deleteItem(item)">
                            fas fa-trash
                          </v-icon>
                        </template>

                        <!-- RESET - TABLE -->
                        <template v-slot:no-data>
                          <!-- RESET -->
                          <v-btn color="primary" @click="initialize">Reset</v-btn>
                        </template>
                      </v-data-table>

                      <!-- SUBMIT CONFIGURATION - BUTTON -->
                      <v-btn :disabled="disabledSubmitConfig" color="primary" class="mt-4 mb-2"
                        @click="submitConfiguration">Submit Configuration</v-btn>

                      <!-- NOTIFICATION SNACKBAR -->
                      <v-snackbar v-model="snackbar" :timeout="timeout" top>
                        {{ snackbar_text }}

                        <v-icon small color="primary" class="mr-2" @click="snackbar = false">
                          fas fa-times
                        </v-icon>
                      </v-snackbar>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>

  
  <script src="../base1/vuetify.js"></script>
  <script src="../base1/vuex.min.js"></script>

  <script>
    // STORAGE DEVICE COMPONENT - POPUP
    Vue.component("storage-device", {
      props: ["device", "devices"],
      data() {
        return {};
      },
      methods: {
        addPartition() {
          this.device.Partitions.push(
              {
                Type: null,
                Label: null,
                Filesystem: null,
                MountPoint: null,
                Size: null
              }
          );
        },
        removePartition(index){
          this.device.Partitions.splice(index, 1);
        }
      },
      template: `
      <v-card class='ma-2 pa-2'>
        <v-row>
          <v-col cols="4">
            <v-text-field
           label="Device Name"
           v-model="device.Device"
            />
            </v-col>
            <v-col cols="8" class="text-right">
            <v-icon color='red lighten-1' class="ml-2 mt-4 mr-2" small  @click="$emit('remove')">
                fas fa-minus
              </v-icon>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <h3>
              Partitions:
              <v-icon small class="ml-2 pa-2" 
            @click="addPartition()">
                fas fa-plus
            </v-icon>
            </h3>
          </v-col>
        </v-row>
        <partitions v-for="(partition, index) in device.Partitions" 
        :partition="partition"
        :partitions="device.Partitions" 
        :devices="devices"
        @remove="removePartition(index)">
        </partitions>
        </v-card>
        `,
    });

    // PARTITIONS - STORAGE DEVICE COMPONENT - POPUP
    Vue.component("partitions", {
      props: ["partition", "partitions", "devices"],
      data() {
        return {
          filesystemTypes: ["ext4", "xfs"],
        };
      },
      computed: {
        partitionTypes() {

          const partitionTypes = [];

          this.devices.forEach(
            (device) => device.Partitions.forEach(
              (partition) => partitionTypes.push(partition.Type)
            )
          );

          return [
            "custom",
            ...(partitionTypes.filter((value) => value === "root").length < 1 ||
              this.partition.Type === "root"
              ? ["root"]
              : []),
            ...(partitionTypes.filter((value) => value === "swap").length < 1 ||
              this.partition.Type === "swap"
              ? ["swap"]
              : []),
          ];

        },
      },
      template: `
        <v-row>
          <v-col cols="2">
            <v-select
              label="Type"
              v-model="partition.Type"
              :items="partitionTypes"
              />
          </v-col>
          <v-col cols="2">
              <v-text-field
              label="Label"
              v-model="partition.Label"
            />
          </v-col>
          <v-col cols="2">
            <v-select
              label="Filesystem"
              v-model="partition.Filesystem"
              :items="filesystemTypes"
              />
          </v-col>
          <v-col cols="2">
              <v-text-field
              label="MountPoint" 
              v-model="partition.MountPoint"
            />
          </v-col>
          <v-col cols="2">
            <v-text-field 
            label="Size (GB)"
            type="number"
            v-model="partition.Size"></v-text-field>
          </v-col>
          <v-col cols="2">
            <v-icon color='red lighten-1'small 
        @click="$emit('remove')">
                fas fa-minus
              </v-icon>
          </v-col>
        </v-row>
        `,
    });

    // INTERFACE COMPONENT - POPUP
    Vue.component("interface", {
      props: ["interface", "interfaces"],
      data() {
        return {
          // The standard (IEEE 802) format for printing MAC-48 addresses in human-friendly form is six groups of two hexadecimal digits, separated by hyphens - or colons :.
          macRules: [
            (v) =>
              /^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$/.test(v) ||
              "This does not adhere to MAC address syntax.",
          ],
          ipRules: [
            (v) =>
              /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/.test(
                v
              ) || "This does not adhere to IP address syntax.",
          ],
        };
      },
      computed: {
        networkItems() {
          const networks = this.interfaces.map(
            (_interface) => _interface.Network
          );
          // console.log(networks);
          return [
            {
              text: "Capture",
              value: "capture",
            },
            ...(networks.filter((value) => value === "internal").length < 1 ||
              this.interface.Network === "internal"
              ? [{ text: "Internal", value: "internal" }]
              : []),
            ...(networks.filter((value) => value === "external").length < 1 ||
              this.interface.Network === "external"
              ? [{ text: "External", value: "external" }]
              : []),
          ];
        },
      },
      template: `
      <v-card class='ma-2 pa-2'>
        <v-row
          
        >
          <v-col class='text-center'>
            <v-text-field
              v-model="interface.IP"
              label="IP"
              :rules="ipRules"
            />
            </v-col>

            <v-col class='text-center'>
            <v-text-field
              v-model="interface.MAC"
              label="MAC"
              :rules="macRules"
            />
          </v-col>

          <v-col class='text-center'>
            <v-text-field
              v-model="interface.Name"
              label="Name"
            />
          </v-col>

          <v-col class='text-center'>
            <v-select
              v-model="interface.Network"
              :items="networkItems"
              label="Network"
              />
          </v-col>

          <v-col cols='1' class='text-center'>
            <v-icon color='red lighten-1' class="ml-2 mt-4" small  @click="$emit('remove')">
                fas fa-minus
              </v-icon>
          </v-col>
        </v-row>
        </v-card>
        `,
    });

    new Vue({
      el: "#app",
      data() {
        return {
          selected: [],
          searchAliases: null,
          aliasItems: [],

          disabledSubmitConfig: true,

          snackbar: false,
          snackbar_text: "",
          timeout: 2000,

          snackbarWarning: false,
          snackbarWarning_text: "",

          search: "",
          expanded: [],
          info: null,
          tab: null,
          title: "Servers",
          server_count: 0,
          headers_tab: ["Configured", "Unconfigured"],

          dialog: false,
          dialogDelete: false,
          itemToDelete: "",

          error_interface: false,
          errorMessageInterface: "",

          error_storage_device: false,
          errorMessageStorageDevice: "",

          alert: false,
          alert_message: "",

          alert_popup: false,
          alert_message_popup: "",



          headers_servers: [
            {
              text: "Hostname",
              value: "Hostname",
              align: "start",
              sortable: true,
            },
            {
              text: "ServiceTag",
              value: "SerialNumber",
            },
            {
              text: "InternalIP",
              value: "InternalIP",
            },
            {
              text: "InternalMAC",
              value: "InternalMAC",
            },
            {
              text: "Actions",
              value: "actions",
              sortable: false,
            },
            { text: "", value: "data-table-expand" },
          ],

          interface_headers: [
            {
              text: "IP",
              value: "IP",
              align: "start",
              sortable: true,
            },
            {
              text: "MAC",
              value: "MAC",
            },
            {
              text: "Name",
              value: "Name",
            },
            {
              text: "Network",
              value: "Network",
            },
          ],
          hostclass_options: [
            {
              text: "Master",
              value: 1,
            },
            {
              text: "MasterReplica",
              value: 2,
            },
            {
              text: "Minion",
              value: 3,
            },
          ],
          installmethod_options: [
            {
              text: "None",
              value: "none",
            },
            {
              text: "Netboot",
              value: "netboot",
            },
            {
              text: "Netinstall-Auto-With-Reboot",
              value: "netinstall-auto-with-reboot",
            },
            {
              text: "Netinstall-Auto-Without-Reboot",
              value: "netinstall-auto-without-reboot",
            },
            {
              text: "Netinstall-Manual",
              value: "netinstall-manual",
            },
          ],
          flippedfabric_option: [
            {
              text: "No",
              value: false,
            },
            {
              text: "Yes",
              value: true,
            },
          ],
          interface_network: [
            {
              text: "Internal",
              value: "internal",
            },
            {
              text: "Capture",
              value: "capture",
            },
            {
              text: "External",
              value: "external",
            },
          ],
          requiredRules: [(v) => !!v || "This field is required"],
          editedIndex: -1,

          editedItem: {
            Hostname: "",
            Aliases: [],
            SerialNumber: "",
            HostClass: 0,
            InstallMethod: "",
            BladeIndex: null,
            FlippedFabric: "false",
            ProductName: "",
            Slot: "",
            Interface: [{ IP: null, MAC: null, Name: null, Network: null }],
            Storage: [{ Device: null, Partitions: [{ Type: null, Label: null, Filesystem: null, MountPoint: null, Size: null }] }],
            InternalIP: "",
            InternalMAC: "",
          },

          defaultItem: {
            Hostname: "",
            Aliases: [],
            SerialNumber: "",
            HostClass: 0,
            InstallMethod: "",
            BladeIndex: null,
            FlippedFabric: "false",
            ProductName: "",
            Slot: "",
            Interface: [{ IP: null, MAC: null, Name: null, Network: null }],
            Storage: [{ Device: null, Partitions: [{ Type: null, Label: null, Filesystem: null, MountPoint: null, Size: null }] }],
            InternalIP: "",
            InternalMAC: "",
          },

          servers_data: [],
          unconfig_data: [],

          write_unconfig: [],

          itemDelete: [],
        };
      },
      computed: {
        formTitle() {
          return this.editedIndex === -1 ? "New Server" : "Edit Server";
        },
      },

      watch: {
        dialog(val) {
          if (val == false) {
            this.editedItem = Object.assign({}, this.defaultItem);
            this.editedIndex = -1;
          }
          val || this.close();
        },
        dialogDelete(val) {
          val || this.close();
        },
        selected: function () {
          this.disabledSubmitConfig = this.selected.length == 0;
        },
        editedItem(val, prev) {

          if (val.Aliases.length === prev.Aliases.length) return

          this.editedItem.Aliases = val.Aliases.map(v => {
            if (typeof v === 'string') {
              v = v

              this.aliasItems.push(v)

            }

            return v
          })
        }
      },
      created() {
        this.initialize();
        this.readConfig();
      },

      beforeMount() {
        window.addEventListener("beforeunload", this.preventNav)
      },

      beforeDestroy() {
        window.removeEventListener("beforeunload", this.preventNav);
      },


      methods: {
        preventNav(event) {
          if (!this.dialog) return
          event.preventDefault()
          event.returnValue = ""
        },
        addInterface() {
          this.editedItem.Interface.push({
            IP: null,
            MAC: null,
            Name: null,
            Network: null,
          });
        },
        addStorageDevice() {
          this.editedItem.Storage.push({
            Device: null,
            Partitions: [
              {
                Type: null,
                Label: null,
                Filesystem: null,
                MountPoint: null,
                Size: null
              }
            ]
          });
        },

        removeInterface(index) {
          this.editedItem.Interface.splice(index, 1);
        },
        removeStorageDevice(index) {
          this.editedItem.Storage.splice(index, 1);
        },

        async initialize() {
          let self = this;

          cockpit
            .file("unconfig.json", { syntax: JSON, superuser: "require" })
            .read()
            .done((content, tag) => {
              console.log("Read unconfig.json");
              this.servers_data = content.Server;
              this.unconfig_data = content;
              this.server_count = this.servers_data.length;
              for (let i = 0; i < content.Server.length; i++) {
                this.servers_data[i]["Position"] = i;
                if (content.Server[i].Aliases == undefined) {
                  this.servers_data[i]["Aliases"] = [];
                }
                if (content.Server[i].InstallMethod == undefined) {
                  this.servers_data[i]["InstallMethod"] = "";
                }
                for (let j = 0; j < content.Server[i].Interface.length; j++) {
                  if (content.Server[i].Interface[j].Network == "internal") {
                    this.servers_data[i]["InternalIP"] =
                      content.Server[i].Interface[j].IP;
                    this.servers_data[i]["InternalMAC"] =
                      content.Server[i].Interface[j].MAC;
                  }
                }
              }
            })
            .fail(function (error) {
              console.log("Unable to read unconfig.json");
            });
        },

        async readConfig() {
          let self = this;

          cockpit
            .file("config.json", { syntax: JSON, superuser: "require" })
            .read()
            .done((content, tag) => {
              console.log("Read config.json");
              this.write_unconfig = content;
            })
            .fail(function (error) {
              console.log("Unable to read config.json");
            });
        },

        editItem(item) {
          this.editedIndex = this.servers_data.indexOf(item);
          this.editedItem = JSON.parse(JSON.stringify(item));
          this.dialog = true;
        },

        deleteItem(item) {
          this.dialogDelete = true;
          this.itemToDelete = item.Hostname;
          this.itemDelete = item;
        },
        deleteItemConfirm() {
          this.servers_data.splice(this.servers_data.indexOf(this.itemDelete), 1);
          this.dialogDelete = false;
          this.server_count = this.servers_data.length;

          this.update_unconfig_data();

          this.snackbar = true;
          this.snackbar_text = "Successfully deleted " + this.itemToDelete;
        },

        close() {
          this.dialog = false;
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        },

        async update_unconfig_data() {
          let self = this;

          for (let i = 0; i < this.servers_data.length; i++) {
            delete this.servers_data[i].Position;
            delete this.servers_data[i].InternalIP;
            delete this.servers_data[i].InternalMAC;
          }

          cockpit.file("/usr/share/cockpit/vue-servers/unconfig.json", { syntax: JSON, superuser: "require" })
            .replace(this.unconfig_data)
            // .modify(function (content) {

            //   return content["test"];
            // })
            .done(function (content, tag) {
              console.log("Replaced unconfig.json data");
            })
            .fail(function (error) {
              console.log("Unable to replace unconfig.json data");
            });
        },

        searchDuplicates(item) {

          let check = false;

          for (let i = 0; i < this.servers_data.length; i++) {
            if (this.editedIndex != i) {
              if (item.Hostname == this.servers_data[i].Hostname || item.SerialNumber == this.servers_data[i].SerialNumber) {
                return true;
              }
            }
          }

          for (let i = 0; i < this.servers_data.length; i++) {
            if (this.editedIndex != i) {
              for (let j = 0; j < this.servers_data[i].Interface.length; j++) {
                if (check == true) {
                  break;
                } else {
                  for (let k = 0; k < item.Interface.length; k++) {
                    if (check == true) {
                      break;
                    } else {
                      if (item.Interface[k].IP == this.servers_data[i].Interface[j].IP || item.Interface[k].MAC == this.servers_data[i].Interface[j].MAC) {
                        check = true;
                        break;
                      }
                    }
                  }
                }
              }
            }
          }

          if (check == true) {
            return true;
          } else {
            return false;
          }

        },

        save() {
          if (this.editedIndex > -1) {
            if (
              this.$refs.form.validate() &&
              !this.editedItem.Interface.filter((value) => value.Network === "internal").length < 1) {

              //Set Internal interface name to eth0
              this.editedItem.Interface.filter((value) => value.Network === "internal")[0].Name = "eth0";


              //If the user did not define an installMethod, default to none
              if (this.editedItem.InstallMethod == "") {
                this.editedItem.InstallMethod = "none";
              }

              if (this.searchDuplicates(this.editedItem)) {
                this.alert_popup = true;
                this.alert_message_popup = "Oops. Some of the information already exists.";
              } else {
                Object.assign(
                  this.servers_data[this.editedIndex],
                  this.editedItem
                );
                this.update_unconfig_data();
                this.initialize();
                console.log(this.editedItem.InstallMethod);

                this.close();
              }

            } else if (
              this.editedItem.Interface.filter((value) => value.Network === "internal"
              ).length < 1
            ) {
              this.error_interface = true;
              this.errorMessageInterface =
                "Required. An internal interface must be defined.";
            } else {
              this.error_interface = false;
              this.errorMessageInterface = "";
            }
          } else {
            if (
              this.$refs.form.validate() &&
              !this.editedItem.Interface.filter(
                (value) => value.Network === "internal"
              ).length < 1
            ) {
              //Set Internal interface name to eth0
              this.editedItem.Interface.filter((value) => value.Network === "internal")[0].Name = "eth0";

              console.log(this.editedItem.InstallMethod == "");
              //If the user did not define an installMethod, default to none
              if (this.editedItem.InstallMethod == "") {
                this.editedItem.InstallMethod = "none";
              }

              if (this.searchDuplicates(this.editedItem)) {
                this.alert_popup = true;
                this.alert_message_popup = "Oops. Some of the information already exists.";
              } else {
                this.servers_data.push(this.editedItem);
                this.update_unconfig_data();
                this.initialize();

                console.log(this.editedItem.InstallMethod);

                this.close();
              }

            } else if (
              this.editedItem.Interface.filter(
                (value) => value.Network === "internal"
              ).length < 1
            ) {
              this.error_interface = true;
              this.errorMessageInterface =
                "Required. An internal interface must be defined.";
            } else {
              this.error_interface = false;
              this.errorMessageInterface = "";
            }
          }
        },

        checkServersDefined() {
          let count = 0;
          for (let i = 0; i < this.selected.length; i++) {
            if (this.selected[i].Hostname
              && this.selected[i].SerialNumber
              && this.selected[i].HostClass
              && this.selected[i].Interface.filter((value) => value.Network === "internal").length == 1) {
              count++;
            }
          }
          if (this.selected.length == count) {
            // console.log("CHECK PASSED");
            return true;
          } else {
            // console.log("CHECK FAILED");
            return false;
          }
        },

        submitConfiguration() {

          if (this.checkServersDefined()) {
            let self = this;

            // console.log(this.selected);
            // console.log(this.servers_data);

            for (let i = 0; i < this.selected.length; i++) {
              this.servers_data.splice(this.servers_data.indexOf(this.selected[i]), 1);
            }

            // console.log(this.servers_data);

            this.server_count = this.servers_data.length;

            for (let i = 0; i < this.servers_data.length; i++) {
              delete this.servers_data[i].InternalIP;
              delete this.servers_data[i].InternalMAC;
              delete this.servers_data[i].Position;
            }

            for (let i = 0; i < this.selected.length; i++) {
              this.write_unconfig.Server.push(this.selected[i]);
            }

            if (this.readConfig()) {


              cockpit.file("/usr/share/cockpit/vue-servers/config.json", { syntax: JSON, superuser: "require" })
                .replace(this.write_unconfig)
                // .modify(function (content) {

                //   return content["user"] = 2;
                // })
                .done(function (content, tag) {
                  console.log(content);
                  console.log(tag);
                  console.log("Successfully written to CONFIG.JSON");
                })
                .fail(function (error) {
                  // console.log("Error writing to CONFIG.JSON");
                });

              this.snackbar = true;
              this.snackbar_text = "Successfully Submitted Configuration";
              this.update_unconfig_data();
            }


          } else {
            this.alert = true;
            this.alert_message = "Oops. Some of the servers you selected are missing some required information.";
          }

        },
      },

      vuetify: new Vuetify({
        icons: {
          iconfont: "fa", // default - only for display purposes
        },
      }),
    });
  </script>
</body>

</html>